body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.site-container {
    min-height: 100vh;
}

/****************************Homepage CSS Classes***********************/

.sign-in {
    margin: auto 15px auto auto;
    border: 0;
    background-color: #380585;
    font-weight: bold;
    text-decoration: none;
}

.sign-in a {
    text-decoration: none;
    color: white;
    /* text-transform: uppercase; */
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 25px 50px;
    font-size: 1.25rem;
    font-weight: 400;
}

.landing-container {
    margin: auto;
    width: 100%;
}

.landing-top-background {
    width: 100%;
    background-image: url("/images/basketballcourt.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 70%;
}

.landing-top-container {
    margin: auto;
    width: 80%;
    padding-bottom: 100px;
    color: white;
}

.landing-site {
    font-size: 2rem;
    font-family: Verdana, Geneva, sans-serif;
    /* color: white; */
    text-align: center;
    margin: 50px auto 50px 0px;
}

.landing-site-title {
    margin: auto auto 25px;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .5px;
}

.landing-site-desc {
    margin: auto;
    font-size: 1.25rem;
    width: 30%;
    text-align: center;
    line-height: 2rem;
}

.landing-laptop-img {
    width: 50%;
    margin: 50px auto auto;
}

.landing-laptop-img img {
    width: 100%;
}

.landing-actions-container {
    flex: 2;
    -webkit-flex: 2;
    padding: 75px 0 100px;
}

.landing-background-image {
    /* background-image: url("/images/basketballcourt.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top; */
    /* background-attachment: fixed; */
    /* min-height: 100vh; */
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    opacity: 0.5;
}
.landing-background-color {
    /* background-color: black; */
    min-height: 100vh;
    position: absolute;
    width: 100%;
    z-index: -2;
    left: 0;
    top: 0;
}
.landing-actions {
    width: 30%;
    border: 1px solid black;
    max-width: 700px;
    padding: 25px 0 50px;
}

#landing-actions-left {
    margin: auto 0 auto auto;
    border-right: 0;
}

#landing-actions-right {
    margin: auto auto auto 0;
}

.landing-img {
    width: 100%;
    min-height: 150px;
}

.landing-img img {
    width: 80%;
    margin: auto;
    display: block;
}

#landing-espn-img {
    margin-top: 20px;
}

.landing-text {
    margin: 75px auto 15px;
    font-size: 2rem;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    height: 60px;
}

.landing-text-small {
    font-size: 1rem;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    cursor: pointer;
}

.landing-buttons {
    margin: auto auto;
    height: 73px;
}

.espn-id-input {
    font-size: 1.5rem;
    padding: 20px;
}

.team-select {
    width: 350px;
    margin: auto;
    color: black;
    font-size: 1.25rem;
    padding: 5px;
}

.espn-dropdown-items__menu {
    font-size: 1rem;
}

.landing-features-container {
    width: 70%;
    margin: 75px auto;
}
.landing-features {
    width: 30%;
    margin: auto;
    text-align: center;
}

.landing-features-title {
    font-size: 1.5rem;
}

.landing-features-desc {
    margin: 20px auto auto;
    width: 70%;
    line-height: 1.25rem;
}

.landing-features-img {
    width: 100%;
}

.landing-features-img img {
    width: 100%;
}

/****************************Logged in CSS Classes***********************/

.navbar {
    height: 75px;
    background-color: white;
    width: 100%;
}

.nav-title {
    font-size: 2rem;
    font-weight: 400;
    margin: auto auto auto 25px;
    font-family: Verdana, Geneva, sans-serif;
    letter-spacing: .25px;
}

.nav-sign-in {
    margin: auto 15px auto auto;
    border: 0;
    font-weight: bold;
    text-decoration: none;
}

/* .nav-sign-in a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 15px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    cursor: pointer;
}

.nav-sign-in-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    height: 50px;
    font-weight: 400;
    letter-spacing: .25px;
}

.nav-sign-in-link img {
    height: 100%;
} */

.nav-refresh {
    margin: auto 15px auto auto;
    border: 0;
    font-weight: bold;
    text-decoration: none;
}

.nav-refresh a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 15px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    background-color: #380585;
    cursor: pointer;
}

/* .sign-in a:hover {
    font-weight: 700 !important;
    letter-spacing: 2px;
    background: none;
    transition: all 0.3s ease 0s;
} */

.sign-out {
    margin: auto 15px auto 0;
    border: 0;
    background-color: #477DCA;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.15rem;
    text-decoration: none;
}

.sign-out a {
    text-decoration: none;
    color: white;
    display: inline-block;
    height: 100%;
    padding: 15px;
    letter-spacing: .25px;
}

.table-container {
    background: white;
    width: 100%;
}

.table-group {
    margin: auto;
}

.team-table,
.team-avg-table {
    margin: 25px auto;
}

.team-avg-table {
    width: 70%;
}

.team-table-header {
    margin: 25px auto 0;
    text-align: center;
}

.team-avg-header {
    margin: auto;
    text-align: center;
}

.ReactTable {
    min-height: 56px;
}

.ReactTable .rt-noData {
    top: 75%;
    padding: 0;
}

.hide-button {
    border: 1px solid #494949;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    background: #f4f4f4;
    cursor: pointer;
    margin-left: 0;
}

.compare-header {
    margin: 0 auto 15px;
}

.compare-table-group {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px 25px;
}

.change-stats-btn {
    margin: auto;
    background-color: #74b9ff;
    padding: 25px 35px;
    color: white;
    font-size: 1.25rem;
    border-radius: 5px;
    cursor: pointer;

}

.expandedRow {
    min-height: 35px;
}

.selected.rt-tr {
    font-style: italic;
    font-weight: 600;
}

/****************************Modal CSS Classes***********************/

.espn-modal-container {
    color: black;
    font-size: 1.5rem;
    height: 100%;
}

/****************************Footer CSS Classes***********************/

.footer {
    width: 100%;
    padding: 15px 0;
    background: #AC8269;
    color: white;
}

.footer-info {
    margin: auto 25px auto auto;
    text-align: right;
    align-items: center;
    -webkit-align-items: center;
}

.footer-info a {
    text-decoration: none;
    color: white;
}

.footer-twitter img {
    width: 35px;
    height: 35px;
    padding-left: 5px;
}

#footer-created-by {
    padding-right: 4px;
}

/****************************Universal CSS Classes***********************/

.flex-wrapper {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    -webkit-justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.flex-content {
    flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3 0 auto;
}

.flex {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.flex-vertical {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.flex-one {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
}

.flex-wrap {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.flex-center {
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
}

.center {
    text-align: center;
    margin: auto;
    justify-content: center;
    flex-direction: column;
}

.flex-reverse {
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
}

.hide {
    display: none !important;
}

.no-margin {
    margin: 0;
}

.table-container {
    margin: auto;
}

/*End Universal CSS Classes*/