body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/*Universal CSS Classes*/

.flex-wrapper {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    -webkit-justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

    @media (max-width: 700px) {
        flex-direction: column;
        -webkit-flex-direction: column;
    }
}

.flex-content {
    flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3 0 auto;
}

.flex {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.flex-vertical {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.flex-one {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
}

.flex-wrap {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.flex-center {
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
}

.center {
    text-align: center;
    margin: auto;
    justify-content: center;
    flex-direction: column;
}

.hide {
    display: none;
}

.table-container {
    margin: auto;
}

/*End Universal CSS Classes*/

.navbar {
    height: 75px;
    background-color: #333;
    width: 100%;
}

.site-container {
    min-height: 100vh;
    background-image: url("./images/basketball.jpg");
    background-size: cover;
}

.sign-in {
    margin: auto 15px auto auto;
    border: 0;
    background-color: #477DCA;
    font-weight: bold;
    text-decoration: none;
}

.sign-in a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.sign-in a:hover {
    font-weight: 700 !important;
    letter-spacing: 2px;
    background: none;
    transition: all 0.3s ease 0s;
}

.sign-out {
    margin: auto 15px auto 0;
    border: 0;
    background-color: #477DCA;
    font-weight: bold;
    text-decoration: none;
}

.sign-out a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.landing-container {
    margin: auto;
}

.landing-site-title {
    font-size: 5rem;
    font-family: Verdana, Geneva, sans-serif;
    color: white;
    text-align: center;
    margin: auto;
    margin-bottom: auto;
    margin-top: 50px;
    text-shadow: 2px 2px black;
}

.landing-actions-container {
    flex: 2;
    -webkit-flex: 2;
}

.landing-actions {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px;
    color: white;
    border-radius: 25px;
    border: 1px solid white;
    margin: auto;
    max-width: 700px;
}

.landing-text {
    padding-bottom: 20px;
    font-size: 2rem;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}

.landing-text-small {
    font-size: 1.5rem;
    padding-bottom: 20px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}

.landing-buttons {
    margin: auto;
}

.table-container {
    background: white;
    width: 100%;
}

.table-group {
    margin: auto;
}

.team-table,
.team-avg-table {
    margin: 25px auto;
}

.team-avg-table {
    width: 70%;
}

.team-table-header {
    margin: 25px auto 0;
    text-align: center;
}

.team-avg-header {
    margin: auto;
    text-align: center;
}

.ReactTable {
    min-height: 56px;
}

.ReactTable .rt-noData {
    top: 75%;
    padding: 0;
}

.team-select {
    width: 300px;
    margin: auto;
    color: black;
}

.hide-button {
    border: 1px solid #494949;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    background: #f4f4f4;
    cursor: pointer;
    margin-left: 0;
}

.compare-header {
    margin: 0 auto 15px;
}

.compare-table-group {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px 25px;
}